APP_NAME=PlanoContratacaoAnuall
APP_ENV=production
APP_KEY="${PCA_APP_KEY}"
APP_DEBUG=true
APP_TIMEZONE=America/Cuiaba
APP_URL=https://d-planocontratacao.tce.mt.gov.br
APP_PORT=80
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
ASSET_URL=https://d-planocontratacao.tce.mt.gov.br

DB_CONNECTION="${PCA_DB_CONNECTION}"
DB_TNS="${PCA_DB_TNS}"
DB_PORT="${PCA_DB_PORT}"
DB_HOST="${PCA_DB_HOST}"
DB_DATABASE="${PCA_DB_DATABASE}"
DB_USERNAME="${PCA_DB_USERNAME}"
DB_PASSWORD="${PCA_DB_PASSWORD}"
DB_CHARSET="${PCA_DB_CHARSET}"
DB_PREFIX="${PCA_DB_PREFIX}"
DB_SCHEMA_PREFIX="${PCA_DB_SCHEMA_PREFIX}"
DB_EDITION="${PCA_DB_EDITION}"
